<div id="airfield-list">  
  <% @airfields.each do |airfield| %>
  <div>
    <%= t(".airfield_id", id: airfield.id ) %>
    <%= t(".airfield_name", name: airfield.name ) %>
    <%= t(".airfield_longitude", longitude: airfield.longitude ) %>
    <%= t(".airfield_latitude", latitude: airfield.latitude ) %>
    <%= t(".current_plane_count", count: airfield.airplanes_at_time(Time.now.utc).size, capacity: airfield.airfield_plane_capacity ) %>
    <%= t(".incoming_connections_count", count: airfield.incoming_connections.size ) %>
    <%= t(".outgoing_connections_count", count: airfield.outgoing_connections.size ) %>

    <%= button_to t(".edit"), edit_airfield_path(airfield), method: :get  if can? :edit, airfield %>
    <%= button_to t(".show"), airfield_path(airfield), method: :get if can? :show, airfield %>    
    <%= button_to t(".delete"), airfield_path(airfield), method: :delete if can? :delete, airfield %>
  </div>
  <% end %>
</div>