<% @users.each do |user| %>
<div>
  <%= t(".email",email: user.email) %>
  <%= t(".user_type",user_type: User.get_human_user_types.invert[user.user_type.to_sym])  %>
  <%= t(".id",id: user.id) %>
  <%= t(".created_at",created_at: user.created_at) %>
  <%= t(".updated_at",updated_at: user.updated_at) %>
  <%= button_to t(".edit"), edit_user_path(user), method: :get if can? :edit, user %>
  <%= button_to t(".delete"), user_path(user), method: :delete if can? :delete, user %>
</div>
<% end %>
