<!DOCTYPE html>
<html>
  <head>
    <title>FlytApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= button_to "Sign Out", destroy_user_session_path, method: :post if user_signed_in? %>
    <%= button_to "Sign In", new_user_session_path unless user_signed_in? %>
    <%= yield %>
  </body>
</html>
